
body{
	background-color:powderblue;
	text-align:center;
}

input{
  padding: 12px 20px;
  margin: 8px 0;
}

button  {
  background-color:royalblue;
  border: solid 1px black;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
  letter-spacing:3px;
    border-radius: 4px;
}
button:hover {
  background-color: #4CAF50;
  border: solid 2px white;
  color: white;
  padding: 20px 42px;
  margin: 4px 2px;
  cursor: pointer;
  letter-spacing:3.5px;
}